<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Film</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/spectre.css}">
    <link rel="stylesheet" th:href="@{/css/spectre-exp.css}">
    <link rel="stylesheet" th:href="@{/css/spectre-icons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<main class="container">
<h1>Add Film</h1>
<form th:action="@{/addFilm}" method="post" th:object="${film}" class="form-horizontal">
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="title">Title</label>
        </div>
        <div class="col-9 col-sm-12">
            <input type="text" name="title" id="title" th:field="*{titre}" class="form-input" placeholder="Title"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="genre">Genre</label>
        </div>
        <div class="col-9 col-sm-12">
            <input type="text" name="genre" id="genre" th:field="*{genre}" class="form-input" placeholder="Genre"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="copies">Copies</label>
        </div>
        <div class="col-9 col-sm-12">
            <input type="number" name="copies" id="copies" th:field="*{nbExemplaires}" class="form-input" placeholder="Copies"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="desc">Description</label>
        </div>
        <div class="col-9 col-sm-12">
            <textarea type="text" name="desc" id="desc" th:field="*{description}" class="form-input" placeholder="desc" rows="3"></textarea>
        </div>
    </div>
<input type="submit" value="Add film">
</form>
</main>
</body>
</html>