<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:a="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>DVD Store</h1>
<h2>Current films</h2>
<a th:href="@{/addFilm}">addFilm</a>
<a th:href="@{/deleteFilm}">deleteFilm</a>
<div th:if="${films.empty}">No Films Available</div>
<div th:if="${!films.empty}">
<table>
    <thead>
        <td>Id</td>
        <td>Titre</td>
        <td>Genre</td>
    </thead>
    <tbody>
        <tr th:each="film : ${films}">
            <td><span th:text="${film.id}"> Id </span></td>
            <td><span th:text="${film.titre}"> Titre </span></td>
            <td><span th:text="${film.genre}"> Genre </span></td>
            <td><span><a th:href="@{/deleteFilm(filmId=${film.id})}"> X </a></span></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>