<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DVD Store - Open Film</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/spectre.css}">
    <link rel="stylesheet" th:href="@{/css/spectre-exp.css}">
    <link rel="stylesheet" th:href="@{/css/spectre-icons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:bloc th:object="${film}">
    <div class="film">
        <h1 th:text="${film.titre}">titre</h1>
        <span th:text="${film.genre}" class="label label-rounded"> Genre </span>
        <p th:text="${film.description}"> Description </p>
    </div>
</th:bloc>
</body>
</html>